header {
  width: "100%";
  border-bottom: 5px;
  border-color: black;
}

nav {
  padding: 10px 10px 10px 10px;
  max-width: 1340px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.icon {
  background-color: rgb(156, 95, 16);
  width: fit-content;
  padding: 10px;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search {
  display: flex;
  align-items: center;
}
